@page "{id:Guid}"
@using AtosLibrary.Infrastructure.Entities
@model AtosLibrary.WebHost.Pages.EditBookItemModel
@{
    ViewData["Title"] = "EditBookItem";
}

<h1>EditBookItem</h1>

<form method="post">
    <div class="form-row">
        <div class="form-group col-md-6" >
            <label>Item ID</label>
            <input type="text" class="form-control" placeholder="Item ID" asp-for="BookItemModel.Id" readonly style="background-color: grey;">
            <span asp-validation-for="BookItemModel.Id"></span>
        </div>
        <div class="form-group col-md-6">
            <label>Status</label>
            <select class="form-control" asp-for="BookItemModel.BookItemStatus" asp-items="Html.GetEnumSelectList<EnumBookItemStatus>()">
            </select>
            <span asp-validation-for="BookItemModel.BookItemStatus"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label>Description</label>
            <textarea type="text" class="form-control" placeholder="Description" asp-for="BookItemModel.Description"></textarea>
            <span asp-validation-for="BookItemModel.Description"></span>
        </div>
    </div>
        <input asp-for="BookItemModel.BookId" type="hidden" />
        <button type="submit" class="btn btn-primary">Edit Book Item</button>
</form>