@page "{id:Guid}"
@model AtosLibrary.WebHost.EditReaderModel
@{
    ViewData["Title"] = "EditReader";
}

<h1>EditReader</h1>

<form method="post">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Name</label>
            <input type="text" class="form-control" placeholder="Name" asp-for="ReaderModel.Name">
            <span asp-validation-for="ReaderModel.Name"></span>
        </div>
        <div class="form-group col-md-6">
            <label>Surname</label>
            <input type="text" class="form-control" placeholder="Surename" asp-for="ReaderModel.Surname">
            <span asp-validation-for="ReaderModel.Surname"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Country</label>
            <input type="text" class="form-control" placeholder="Country" asp-for="ReaderModel.Country">
            <span asp-validation-for="ReaderModel.Country"></span>
        </div>
        <div class="form-group col-md-6">
            <label>City</label>
            <input type="text" class="form-control" placeholder="City" asp-for="ReaderModel.City">
            <span asp-validation-for="ReaderModel.City"></span>
        </div>
    </div>
    <input asp-for="ReaderModel.Id" type="hidden" />
    <button type="submit" class="btn btn-primary">Edit Reader</button>
</form>

